html {
  height: 100%;
  width: 100%;
}
.logo{
    width: 100px;
}


body {
    background-color:#000000;
    font-family: Arial, sans-serif;
}

header {
  height: :130px;
  background-color: #000000;

}

.logo img {
    max-width: 80px;
    height: auto;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav li a img {
    max-width: 50px;
    height: auto;
}
.content{
text-align: center;
}
.content h1{
     font-size: 50px;
     color: #fff;
     font-weight: 100;
     transition: 0.5s;

}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

footer img {
    width: 100px;
    height:auto;
    text-align:center;
}
.h1 {
  text-align: right ;
}
.h4 {
  text-align: center;;
}


.logo img{
float: left;
width: 100px;

}

.back-video{
     position: absolute;
     right: 0;
     bottom: 0;
     z-index: -1;
}
@media (min-aspect-ratio: 16/9){
     .back-vedio{
          width: 100%;
          height: auto;
      }
}
@media (min-aspect-ratio: 16/9){
     .back-vedio{
          width: auto;
          height: 100%;
      }
}
